<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlw.mapper.OrderMapper">
    <select id="findByNo" parameterType="String" resultType="String">
            select car_id from t_car
             where car_no = #{name}
    </select>
    <select id="findMyOrder" parameterType="Long" resultType="com.rlw.common.dto.MyOrderDto">
        select order_id as id,car_name as name,order_start as start,order_end as end,order_state as state
        from t_order as J
        left join t_car as K
        on J.car_id = K.car_id
        where J.user_id = #{id}
        <if test="status !=null and status !='' and status =='待支付'">
            and J.order_state = '待支付'
        </if>
        <if test="status !=null and status !='' and status =='进行中'">
            and J.order_state = '进行中'
        </if>
        <if test="status !=null and status !='' and status =='已完成'">
            and J.order_state = '已完成'
        </if>
        <if test="status !=null and status !='' and status =='已取消'">
            and J.order_state = '已取消'
        </if>
    </select>
</mapper>
